* {
    margin: 0px;
}

.btn {
    margin-top: 20px;
}

h3 {
    padding-top: 40px;
    text-align: center;
}

.ejercicio {
    margin: 20px;
    padding: 20px;
}

#respuesta {
    display: none;
}

/*----------------- Ejercicio 16 -------------------*/

.ejercicio16 {
    position: absolute;
    top: 40%;
    left: 47%;
}

#Array1 {
    margin-top: 20px;
}

#Array2 {
    margin-top: 60px;
}
