h1 {
    color: rgb(16, 151, 161);
}

h2 {
    color: blue;
}

p {
    font-weight: 600;
}

.rojito {
    color: red;
}

.azulcito {
    color: blue;
}

.amarillito {
    color: gold;
}

.verdecito {
    color: rgb(19, 136, 19);
}

#parrafo2{
    color:rgb(156, 133, 1);
}

#moradito {
    color: rgb(122, 16, 113);
}

#rocita {
    color: rgb(232, 119, 247);
}

table {
    border-collapse: collapse;
    font-weight: 800;
}

td {
    border: solid black 1px;
    padding: 4px;
}